aiohappyeyeballs==2.6.1
aiohttp==3.12.2
aiosignal==1.3.2
akshare==1.16.95
attrs==25.3.0
beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
contourpy==1.3.1
cycler==0.12.1
decorator==5.2.1
et_xmlfile==2.0.0
fonttools==4.55.5
frozenlist==1.6.0
html5lib==1.1
idna==3.10
jieba==0.42.1
joblib==1.4.2
jsonpath==0.82.2
kiwisolver==1.4.8
lightgbm==4.6.0
lxml==5.3.1
matplotlib==3.10.0
mini-racer==0.12.4
multidict==6.4.4
nest-asyncio==1.6.0
numpy==2.2.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.1.0
propcache==0.3.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
simplejson==3.20.1
six==1.17.0
soupsieve==2.6
tabulate==0.9.0
threadpoolctl==3.5.0
tqdm==4.67.1
tushare==1.4.19
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
webencodings==0.5.1
websocket-client==1.8.0
xlrd==2.0.1
yarl==1.20.0
